@use "@/styling/colors.scss" as c;

main.main {
  width: min(724px, 100%);
  display: flex;
  flex-flow: row nowrap;
  margin: 54px auto 0;
  font-family: var(--font-domine);

  > section {
    padding: 1rem;
    width: min(1024px, 90%);
    margin-inline: auto;
    font-size: 1.8rem;

    > * {
      margin-block: 18px;

      a {
        color: c.$steel_blue;
        &:visited {
          color: c.$other_purple;
        }
        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 2px;
        }
      }
    }
    > p > span::after {
      content: "|";
      animation: cursor-blink 1s infinite;
      margin-left: -4px;
    }
    > header {
      margin-block: 6rem 4rem;
      font-size: 1.65rem;
      font-family: Domine;
      > h1 {
        font-weight: 400;
      }
      > p {
        font-size: 0.6em;
        opacity: 0.6;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
}

@keyframes cursor-blink {
  from {
    opacity: 0%;
  }
  24% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
