@use "sass:map";
@use "@/styling/colors.scss" as c;
.page_tags {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 80%;
  font-family: var(--font-iosevka);
  font-size: 0.8em;

  > li {
    background-color: c.$bg2;
    margin: 2px 6px;
    padding: 3px 9px;
    border-radius: 4px;
    cursor: pointer;
    @for $i from 1 through 5 {
      &.tag_#{$i} {
        background-color: map.get(c.$tag_colors, "tag#{$i}");
      }
    }
  }
}
