@use "../../node_modules/utopia-core-scss/src/utopia" as utopia;
@use "@/styling/colors.scss" as c;
@forward "@/mdx.module.scss";

:root {
  --background: #{c.$fg1};
  --foreground: #{c.$bg1};

  font-size: clamp(16px, 5vw, 20px);

  /* @link https://utopia.fyi/type/calculator?c=360,16,1.25,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  @include utopia.generateTypeScale(
    (
      "minWidth": 360,
      "maxWidth": 1240,
      "minFontSize": 16,
      "maxFontSize": 20,
      "minTypeScale": 1.25,
      "maxTypeScale": 1.25,
      "positiveSteps": 5,
      "negativeSteps": 2,
      "prefix": "step-",
      "relativeTo": "viewport-width",
    )
  );

  font-size: var(--step-0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{c.$bg1};
    --foreground: #{c.$fg1};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100svh;
  display: flex;
  flex-flow: column nowrap;

  > main {
    flex-grow: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
