section.markdown_page {
  > header {
    margin-block: 6rem 4rem;
    font-size: 1.65rem;
    font-family: Domine;
    > h1 {
      font-weight: 400;
    }
    > p {
      font-size: 0.6em;
      opacity: 0.6;
      font-weight: 500;
      font-style: italic;
    }
  }
  > main {
    font-size: 1.3rem;
    font-family: Inter;
    line-height: 1.8;
    > h1,
    > h2,
    > h3,
    > h4 {
      font-family: Domine;
    }
    > p {
      font-size: 0.675em;
    }
  }
}
